
.nav-fondo {
  background-color: $transparent-black;
}

.hero-efecto {
  z-index: $z-index-imagen;
	top: -100px;
	height: 90vh;
}
.nav-item a{
	color: $primary-color;
	white-space: nowrap;
}
.link-activo{
	color: $accent-color!important;
}
.link-disabled{
	color:$transparent-black!important;
}
.nav-item a:hover{
	color: $accent-color;
}
.centrado-texto{
	margin-top: 9rem!important;
}
.boton-call{
	padding: 5px 30px!important;
	color: $accent-color!important;
	border-color: $accent-color!important;
	border-style: solid;
	border-width: 1px;
	border-radius: 5rem!important;
	-webkit-border-radius: 5rem!important;
	-moz-border-radius: 5rem!important;
	-ms-border-radius: 5rem!important;
	-o-border-radius: 5rem!important;
	white-space: nowrap;
}
.titulos{
	font-family: $base-ff-tenor;
	letter-spacing: $base-spacing;
}
.textos{
	font-family: $base-ff-poppins;
}
