.nav-fondo {
  background-color: $transparent-black;
}

.black {
  background-color: $secondary-color;

}

.navbar-collapse.show {
  padding-top: 20px;
  margin-bottom: 120px;
}
@media (max-width: 375px) {
  .img-responsive {
		width: 150px;
		height: auto; 
	}
	.navbar-nav {
		flex-direction: row; 
	}
	.textos {
		font-size: $base-font-size-xs!important;
	}
}

.hero-efecto {
  z-index: $z-index-imagen;
  top: -100px;
  height: 90vh;
  background-image: url('../../assets/images/image1.jpg');
}


.nav-item a {
  color: $primary-color;
  white-space: nowrap;
}

.link-activo {
  color: $accent-color !important;
}

.dropdown-toggle:after{
	color: $accent-color !important;}

.nav-item a:hover {
  color: $accent-color;
}

.centrado-texto {
  margin-top: 9rem !important;
}

.boton-call {
  padding: 5px 30px !important;
  color: $accent-color !important;
  border-color: $accent-color !important;
  border-style: solid;
  border-width: 1px;
  border-radius: 5rem !important;
  -webkit-border-radius: 5rem !important;
  -moz-border-radius: 5rem !important;
  -ms-border-radius: 5rem !important;
  -o-border-radius: 5rem !important;
  white-space: nowrap;
}

.titulos {
  font-family: $base-ff-tenor;
  letter-spacing: $base-spacing;
}

.textos {
  font-family: $base-ff-poppins;
}
.fondo-textos{
	background-color: $primary-color;
  margin-top: -100px;
}
.borde-card{
  padding: 15px;
  border: 1px solid $secondary-color;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}